<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div *ngIf="!hidenewVideo">
        <h2>New Video</h2>
          <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" required name="title" placeholder="title..." ngModel>
              </div>
              <div class="form-group">
                <label>Url</label>
                <input type="text" class="form-control" required name="url" placeholder="url..." ngModel>
              </div>
              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" placeholder="description..." ngModel>
              </div>
              <button type="submit" class="btn btn-outline-success">Save</button>
              <button type="button" (click)="onClickCancel()" class="btn btn-outline-danger">Cancel</button>
            </form>
      </div>
      <videodetail (deleteVideoEvent)="onDeleteVideoEvent($event)" (updateVideoEvent)="onUpdateVideoEvent($event)" *ngIf="selectedVideo && hidenewVideo" [video]="selectedVideo"></videodetail>
    </div>
    <div class="col-sm-3">
        <button type="button" (click)="newVideo()" class="btn btn-outline-primary">+ New Video</button>
      <videolist (selectVideo)="onSelectVideo($event)" [videos]="videos"></videolist>
    </div>
  </div>
</div>
